/* ========== BASE ========== */

:root {
  --wood: #8b5e3c;
  --metal: #6c6c6c;
  --accent: #c59d5f;
  --plateStrip: url('../images/diamondPlateJustStrip.png');
  --woodPlateBorder: url('../images/woodOnPlate.png');
  --woodGrain: url('../images/woodGrain.png');
  --nailedFrame: url("../images/woodPhotoFrameWithNailsSTRIP.png");
  --plateBox: url("../images/diamondPlateBox.png");
  --sparks: url("../images/sparks.png");
  --stones: url("../images/stones.png");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #333;
  background-image: var(--woodGrain);
  background-size: 100%;
  background-position: center center;
  background-repeat: repeat;
}
