/* ========== LAYOUT ========== */

.section {
  padding-block: 7rem;
  color: #fff;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  /* border-bottom: 10px ridge rgb(78, 78, 78); */
  position: relative;
  /* From styles.css*/
  /* padding-bottom: 10rem; */
}

.section-divider {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3rem;
  background-image:
    linear-gradient(to right, rgba(0,0,0,.25) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.25) 100%),
    var(--stones); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-top: 4px groove #444;
  border-bottom: 4px groove #444;
  padding: none;
  z-index: 100;
  margin-left: 0;
}

.section h2 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  border-bottom: 3px solid var(--accent);
  padding-bottom: 0.5rem;
  max-width: 90%;
  margin-inline: auto;
  background-image: var(--nailedFrame);
  background-size: contain;
  background-repeat: repeat;
}


section:first-of-type {
  margin-block-start: 0;
}

@media (min-width: 768px) {
  .section h2 {
    background-image: var(--nailedFrame) ;
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position: center ;
  }
}

